# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/

# PyCharm project settings
.idea/

# VS Code settings (se alguém abrir no VS Code)
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# SQLite database files (se usar)
*.sqlite3

# Log files
*.log
